.todo-list{
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.todo-item{
    background-color:aqua;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 10px;
    cursor:grab;
    user-select: none;
}

.todo-item:hover{
    background: color #f5f5f5;
}

.todo-item:active{
    cursor: grabbing;
}

